<a routerLink="/nanny/{{currentNanny.id}}">
<div class="card bwm-card">
  <img class="card-img-top" src="http://via.placeholder.com/350x250" alt="">
  <div class="card-block">
    <h6 class="card-subtitle">{{currentNanny.province}}&#183; {{currentNanny.city}}&#183; {{currentNanny.age}} years</h6>
    <h4 class="card-title">{{currentNanny.hobbies}}</h4>
    <p class="card-text">i have {{currentNanny.yearsOfExperince}} years Experince: </p>
    <p class="card-text">Daily care from {{currentNanny.kidsAges}} year/s</p>
    <p class="card-text">{{currentNanny.type}}, {{currentNanny.rate}} per day &#183; Free Cancelation</p>
    <a href="#" class="card-link">More Info</a>
  </div>
</div>
</a>
