<div *ngIf="currentNanny">
<p> {{currentNanny.id}}</p>
<p>{{currentNanny.firstName}}</p>
<p>{{currentNanny.lastName }}</p>
<p>{{currentNanny.age }}</p>
<p>{{currentNanny.idNumber }}</p>
<p>{{currentNanny.cell }}</p>
<p>{{currentNanny.email }}</p>
<p>{{currentNanny.gender }}</p>
<p>{{currentNanny.health }}</p>
<p>{{currentNanny.city }}</p>
<p>{{currentNanny.hobbies }}</p>
<p>{{ currentNanny.province}}</p>
<p>{{currentNanny.qualification }}</p>
<p>{{currentNanny.church }}</p>
<p>{{currentNanny.criminalRecord }}</p>
</div>
