<section id="nannyDetails" *ngIf="nanny">
    <div class="upper-section">
      <div class="row">
        <div class="col-md-6">
          <img src="{{nanny.image}}" alt="">
        </div>
        <div class="col-md-6">
         
        <app-map [location]="nanny.city + ', ' + nanny.streetName"></app-map>
        </div>
      </div>
    </div> 
  
    <div class="details-section">
      <div class="row">
        <div class="col-md-6">
          <div class="nanny">
            <h4 class="nanny-city"> {{nanny.rate | currency:'R':true }} <small>per hour </small> - {{nanny.type }}</h4>
            <h5 class="nanny-names">{{nanny.firstName | ucwords}} {{nanny.lastName }}</h5>
            <h5 class="nanny-names">{{nanny.age}}  - {{nanny.gender}}</h5>
            <h5 class="nanny-names">{{nanny.cell}} - {{nanny.email}}</h5>
            <h5 class="nanny-names">{{nanny.province}} - {{nanny.city}}</h5>
            <h5 class="nanny-names">{{nanny.health}} - {{nanny.hobbies}}</h5>
            <hr>
            <h3 class="title">Qualification and Experience</h3>
            <h5 class="nanny-names">{{nanny.qualification}} </h5>
            <h5 class="nanny-names">{{nanny.yearsOfExperience}} year/s with {{nanny.kidsAges}}</h5>
            <hr>
            <h3 class="title">Reference</h3>
            <h5 class="nanny-names">{{nanny.referenceName}} - {{nanny.referenceNumber}}</h5>
           
            <p class="nanny-description">
              
            </p>
            <hr>
            <div class="rental-assets">
              <h3 class="title">Skills</h3>
              <div class="row">
                <div class="col-md-6">
                  <span><i class="fa fa-asterisk"></i> {{nanny.rate }}</span>
                  <span><i class="fa fa-thermometer"></i> cooking</span>
                  <span><i class="fa fa-location-arrow"></i> Ironing</span>
                </div>
                <div class="col-md-6">
                  <span><i class="fa fa-desktop"></i> {{nanny.type }}</span>
                  <span><i class="fa fa-cube"></i> Washing machine</span>
                  <span><i class="fa fa-cube"></i> Dishwasher</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6"> 
          <app-nanny-detail-booking 
          [nanny]="nanny">
        </app-nanny-detail-booking>
        </div>
      </div>
    </div>
  </section>
  
<!-- <div *ngIf="nanny">
<p> {{nanny.id}}</p>
<p>{{nanny.firstName}}</p>
<p>{{nanny.lastName }}</p>
<p>{{nanny.age }}</p>
<p>{{nanny.idNumber }}</p>
<p>{{nanny.cell }}</p>
<p>{{nanny.email }}</p>
<p>{{nanny.gender }}</p>
<p>{{nanny.health }}</p>
<p>{{nanny.city }}</p>
<p>{{nanny.hobbies }}</p>
<p>{{ nanny.province}}</p>
<p>{{nanny.qualification }}</p>
<p>{{nanny.church }}</p>
<p>{{nanny.criminalRecord }}</p>
</div> -->

