
    #nannyDetails{
      margin-top: 100px;
    }
    .upper-section {
     
    
      margin-bottom: 30px;
    }
    img {
        width: 100%;
      }
  
    
      
  
      
          span {
            margin-right: 10px;
          }
  
          i {
            margin-right: 2px;
          }
        
  
  
       
          .title {
            margin-bottom: 10px;
            font-weight: 700;
            font-size: 22px;
          }
          span {
            display: block;
            margin-bottom: 15px;
            font-weight: 300;
          }
       

      